---
layout: default
---

<div class="home">
  {% for post in site.categories.game %}
  <div class="post-wrapper {{ post.theme }}">
    <div class="post">
      <div class="upper">
        <div class="featured">
        {% for img in post.featuredimages %}
          <img src="{{ site.github.url }}/img/art/{{ img }}">
        {% endfor %}
        {% for vid in post.featuredvideos %}
          <div class="video-container">
            {{ vid }}
          </div>
        {% endfor %}
        </div>
        <div class="description">
          {{ post.content }}
        </div>
      </div>
      <div class="images">
      {% for img in post.images %}
        <div><img src="{{ site.github.url }}/img/art/{{ img }}"></div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>